<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="bg-[#FFFFFF]">
    @RenderSection("Header", required: false)

    <main class="container mx-auto">
        @RenderBody()
    </main>

    <footer>
        <div class="relative inset-x-0 bottom-0 flex justify-center bg-gray-800 p-8 mt-10">
            <h5 class="text-white">© 2024 - Repoinsight todos direitos reservados.</h5>
    </footer>
</body>
</html>
