@{
    ViewData["Title"] = "Home Page";
}
@model List<Repo>

@section Header{
    <header>
        <nav class="bg-gray-800">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <div class="relative flex h-16 items-center justify-between">
                    <div class="flex flex-1 items-stretch justify-start">
                        <div class="flex flex-shrink-0 items-center">
                            <a asp-controller="Home" asp-action="Index">
                                <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
                            </a>
                        </div>
                    </div>
                    <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

                        <!-- Profile dropdown -->
                        <div class="relative ml-3">
                            <div>
                                <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                    <span class="absolute -inset-1.5"></span>
                                    <span class="sr-only">Open user menu</span>
                                    <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                </button>
                            </div>

                            <!-- Dropdown menu, initially hidden -->
                            <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Conta</a>
                                <a asp-controller="User" asp-action="Logout" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Sair</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
}

<body class="bg-gray-900 text-white">
    <div class="flex flex-col md:flex-row">
        <!-- Sidebar -->
        <div class="relative h-40 bg-gray-800 p-4 rounded text-white mt-2 w-full md:w-1/4 md:h-screen overflow-y-auto">
            <div class="flex items-center mb-4">
                <div class="flex">
                    <span class="material-icons">folder</span>
                    <h2 class="text-lg font-bold mb-4 mx-2">Projetos - @Context.Session.GetString("email")</h2>
                </div>
            </div>
            
            <div class="pl-4 flex items-center cursor-pointer folder-title my-2" onclick="toggleFolder(this)">
                <span class="arrow-icon material-icons hover:text-blue-500">arrow_circle_right</span>
                Insight Project
            </div>
            <ul class="pl-4 hidden">
                <li class="bg-white text-black border border-blue-500 rounded-md px-3 py-2 my-2 cursor-pointer flex items-center">
                    <span class="material-icons">description</span>
                    PROJETO-T6-GITSOR
                </li>
                <li class="bg-white text-black border border-blue-500 rounded-md px-3 py-2 my-2 cursor-pointer flex items-center">
                    <span class="material-icons">description</span>
                    PROJETO-T6-GITSOR
                </li>
            </ul>

            <div class="pl-4 flex items-center cursor-pointer folder-title my-2" onclick="toggleFolder(this)">
                <span class="arrow-icon material-icons hover:text-blue-500">arrow_circle_right</span>
                2024
            </div>
            <ul class="pl-4 hidden">
                <li class="bg-white text-black border border-blue-500 rounded-md px-3 py-2 cursor-pointer flex items-center">
                    <span class="material-icons">description</span>
                    PROJETO-INFOGAMES
                </li>
            </ul>
            @* <div class="relative inset-x-0 bottom-0 h-16 flex justify-center">
                <div class="flex relative inset-x-0 bottom-0 h-16 ">
                    <abbr title="Ordenar por Ordem Alfabética"  class="no-underline">
                        <button class="flex items-center  p-2 rounded">
                            <span class="material-icons text-white hover:text-blue-700">sort_by_alpha</span>
                        </button>
                    </abbr>
                    <abbr title="Filtrar por Watch" class="no-underline">
                        <button class="flex items-center p-2 rounded ">
                            <span class="material-icons text-white hover:text-gray-700">visibility</span>
                        </button>
                    </abbr>
                    <abbr title="Filtrar por Stars" class="no-underline">
                        <button class="flex items-center p-2 rounded">
                            <span class="material-icons text-white hover:text-yellow-400">star</span>
                        </button>
                    </abbr>
                </div>
            </div> *@
        </div>


        <!-- Main Content -->
        <div class="flex-1 p-4">
            <!-- Top bar -->
             <div class="flex flex-col md:flex-row justify-between mb-4"> 
                 <!-- Botões de navegação -->
                <div class="flex items-center space-x-2 mb-2 md:mb-0 justify-center md:justify-start">
                    <p class="font-bold text-lg">Adicionar Repositório</p>
                    <button class="flex items-center">
                        <span class="material-icons text-blue-500 hover:text-blue-700 mx-2">add</span>
                    </button>
                </div>

                <!-- Campo de busca -->
                <div class="flex items-center justify-end md:w-auto px-4 md:px-0 md:mx-4">
                    <input type="text" placeholder="Search" class="w-full md:w-auto bg-gray-700 p-2 rounded text-white mx-2">
                    <button class="bg-gray-700 p-2 rounded hover:bg-gray-600">
                        <span class="material-icons text-white">search</span>
                    </button>
                </div>
             </div> 

            <!-- Recent Changes -->
            <div class="mb-4">
                <h2 class="text-lg font-bold mb-2 text-white">Mudanças Recentes</h2>
                <div class="bg-gray-800 p-4 rounded">
                    <div class="flex items-center text-white">
                        <span>PUCMinas/PROJETO-T6-GITSOR (PR ícone)</span>
                        <div class="cursor-pointer ml-2 flex items-center">
                            <span class="material-icons hover:text-blue-500">add_circle</span>
                        </div>
                    </div>
                    <div class="flex items-center text-white mt-2">
                        <span>GOOGLE/CHROMEDRIVER (PR ícone) (Commit ícone)</span>
                        <div class="cursor-pointer ml-2 flex items-center">
                            <span class="material-icons hover:text-blue-500">add_circle</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Last Visited -->
            <div>
                <h2 class="text-lg font-bold mb-2">Últimos Visitados</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    <div class="bg-gray-800 h-40 rounded"></div>
                    <div class="bg-gray-800 h-40 rounded"></div>
                    <div class="bg-gray-800 h-40 rounded"></div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    function toggleFolder(element) {
        const nextUl = element.nextElementSibling;
        if (nextUl && nextUl.tagName === 'UL') {
            nextUl.classList.toggle('hidden');
            const arrowIcon = element.querySelector('.arrow-icon');
            if (arrowIcon) {
                arrowIcon.classList.toggle('rotate-90');
            }
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        // Get the button and the menu
        const userMenuButton = document.getElementById('user-menu-button');
        const userMenu = document.querySelector('[role="menu"][aria-labelledby="user-menu-button"]');

        // Function to toggle the menu visibility
        function toggleUserMenu() {
            const isExpanded = userMenuButton.getAttribute('aria-expanded') === 'true';
            userMenuButton.setAttribute('aria-expanded', !isExpanded);
            userMenu.classList.toggle('hidden');
        }

        // Add event listener to the button
        userMenuButton.addEventListener('click', function(event) {
            event.stopPropagation(); // Prevent the click from propagating to the document
            toggleUserMenu();
        });

        // Hide the menu when clicking outside of it
        document.addEventListener('click', function(event) {
            if (!userMenu.contains(event.target) && event.target !== userMenuButton) {
                if (userMenuButton.getAttribute('aria-expanded') === 'true') {
                    userMenuButton.setAttribute('aria-expanded', 'false');
                    userMenu.classList.add('hidden');
                }
            }
        });
    });



</script>
